@charset "UTF-8";
/*
0 ~ 600px:     Phone
600 ~ 900px:   Tablet portrait
900 ~ 1200px:  Tablet landscape
(1200 ~ 1800) normal styles apply
1800 + :       Big desktop
*/
/*
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

/* @keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /*  Isso é o mesmo que 10px
        como a unidade de medida está em rem, quero definir que 1 rem é 10 pixels.
        O cálculo é feito para que a proporção seja a mesma por mais que o usuário altere
        o tamanho da fonte do navegador.
        Então 10/16 = 0,625 * 100 = 62,5%
    */
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.4;
  color: #333; }

::selection {
  color: #fff;
  background-color: #12e066; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    /* animation: rotate 2s linear infinite; */ }
    @media (max-width: 37.5em) {
      .heading-primary .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: .8rem;
    animation-name: moveInRight;
    animation-duration: 2s;
    /* animation-timing-function: ease-out; */ }
    @media (max-width: 37.5em) {
      .heading-primary .heading-primary--sub {
        letter-spacing: .5rem;
        font-size: 2rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #55c57a, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }

.heading-secondary-2 {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: #fff;
  letter-spacing: .2rem;
  z-index: 9; }

.heading-tertiari {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

@keyframes rotateBackground {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.header {
  height: 95vh;
  background: linear-gradient(to right, #12e066, #28b485);
  position: relative;
  /* animation: rotate 2s linear infinite; */ }
  .header .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header .header__logo {
    height: 2.5rem; }
  .header .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  display: flex;
  justify-content: center;
  gap: 6rem;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap; }
  .row .col-2 {
    width: 60rem; }
    @media (max-width: 56.25em) {
      .row .col-2 {
        text-align: center;
        padding: 2rem; } }

.row-2 {
  display: flex;
  justify-content: center;
  gap: 6rem;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  flex-wrap: wrap; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 6rem;
  width: 6rem;
  position: fixed;
  top: 2rem;
  right: 2rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; }

.navigation__background {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  background-image: radial-gradient(#12e066, #28b485);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  transition: all .4s; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #12e066;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(190); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 2.5rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -0.7rem; }
  .navigation__icon::after {
    top: 0.7rem; }

.navigation__button:hover .navigation__icon::before {
  top: -.9rem; }

.navigation__button:hover .navigation__icon::after {
  top: .9rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.navigation-1__checkbox {
  display: none; }

.navigation-1__button {
  background-color: #fff;
  height: 6rem;
  width: 6rem;
  position: fixed;
  top: 2rem;
  right: 2rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; }

.navigation-1__background {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  background-image: linear-gradient(to right, #C801ED, purple);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation-1__nav {
  height: 100vh;
  width: 0;
  position: absolute;
  top: 10rem;
  right: 0;
  z-index: 1500;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  padding: 20px;
  list-style: none; }

.navigation-1__list {
  list-style: none;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.navigation-1__item {
  margin: 1rem; }

.navigation-1__link:link, .navigation-1__link:visited {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  transition: all .4s; }

.navigation-1__link:hover, .navigation-1__link:active {
  background-position: 100%;
  color: #12e066; }

.navigation-1__checkbox:checked ~ .navigation-1__background {
  transform: scale(190); }

.navigation-1__checkbox:checked ~ .navigation-1__nav {
  opacity: 1;
  width: 100%; }

.navigation-1__icon {
  position: relative; }
  .navigation-1__icon, .navigation-1__icon::before, .navigation-1__icon::after {
    width: 2.5rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation-1__icon::before, .navigation-1__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation-1__icon::before {
    top: -0.7rem; }
  .navigation-1__icon::after {
    top: 0.7rem; }

.navigation-1__button:hover .navigation-1__icon::before {
  top: -.9rem; }

.navigation-1__button:hover .navigation-1__icon::after {
  top: .9rem; }

.navigation-1__checkbox:checked + .navigation-1__button .navigation-1__icon {
  background-color: transparent; }

.navigation-1__checkbox:checked + .navigation-1__button .navigation-1__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation-1__checkbox:checked + .navigation-1__button .navigation-1__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 3rem;
  display: inline-block;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #333;
  border-radius: 1rem; }

.btn--green {
  background-color: #12e066;
  color: #fff;
  border-radius: 1rem; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--white::after {
  background-color: #fff; }

.btn--green::after {
  background-color: #12e066; }

.btn:hover::after {
  transform: scaleX(1.2) scaleY(1.6);
  opacity: 0; }

.btn--animated {
  animation: moveInBottom .5s ease-out;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #12e066;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #12e066;
  padding: 5px 10px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #12e066;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.btn--utm {
  background-image: radial-gradient(#12e066, #28b485);
  color: #fff;
  padding: 10px;
  border: none;
  margin-top: 2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 2rem;
  border-radius: 5px;
  cursor: pointer; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 1rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: solid 0.5rem #12e066;
      transform: scale(1.05);
      box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background-color: #f7f7f7;
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s;
  min-height: 25rem;
  width: 30rem; }
  @media (max-width: 75em) {
    .feature-box {
      width: 200px; } }
  .feature-box__icon {
    width: 30%;
    margin-bottom: 0.5rem; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 40rem;
  margin: 0 20px; }
  .card__side {
    color: #fff;
    display: flex;
    justify-content: center;
    gap: 6rem;
    width: 30rem;
    backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
    height: 40rem;
    margin: 0 auto;
    transition: all .8s ease;
    box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      background: linear-gradient(to right, #12e066, #28b485);
      transform: rotateY(180deg);
      position: absolute;
      top: 0;
      left: 0; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__img {
    background-size: cover;
    height: 100%;
    width: 100%; }
    .card__img--1 {
      background-image: url(../../img/ebooks/clique.svg); }
    .card__img--2 {
      background-image: url(../../img/ebooks/financeiro.png); }
    .card__img--3 {
      background-image: url(../../img/ebooks/mineiro-img.png); }
  .card__cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .card__content {
    text-align: center;
    margin-bottom: 4rem; }
  .card__header {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__title {
    font-size: 2rem;
    min-height: 4rem;
    padding: 0 2rem; }

.card-2 {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 40rem;
  margin: 0 20px; }
  .card-2__side {
    color: #fff;
    display: flex;
    justify-content: center;
    gap: 6rem;
    width: 40rem;
    backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
    height: 50rem;
    margin: 0 auto;
    transition: all .8s ease;
    box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.15); }
    .card-2__side--front {
      background-color: #fff; }
    .card-2__side--back {
      background: url(../../img/ebooks/vortex.png) no-repeat center center;
      background-color: black;
      transform: rotateY(180deg);
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: 300px 300px; }
  .card-2:hover .card-2__side--front {
    transform: rotateY(-180deg); }
  .card-2:hover .card-2__side--back {
    transform: rotateY(0); }
  .card-2__img {
    background-size: cover;
    height: 100%;
    width: 100%; }
    .card-2__img--1 {
      background-image: url(../../img/ebooks/mayara.jpg); }
    .card-2__img--2 {
      background-image: url(../../img/ebooks/financeiro.png); }
    .card-2__img--3 {
      background-image: url(../../img/ebooks/mineiro-img.png); }
  .card-2__cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .card-2__content {
    text-align: center;
    margin-bottom: 4rem; }
  .card-2__header {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card-2__title {
    font-size: 2rem;
    min-height: 4rem;
    padding: 0 2rem; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #333;
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1; }
  .popup__close:hover {
    color: #12e066; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #fff;
    box-shadow: 2 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all .3s .2s; }
  .popup__left {
    width: 33%;
    display: table-cell;
    vertical-align: middle; }
  .popup__right {
    width: 66%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__img {
    width: 100%;
    height: 100%;
    display: block; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid #f7f7f7;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #f7f7f7;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }

.form-utm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.15); }
  .form-utm__input-box {
    position: relative; }
    .form-utm__input-box .input,
    .form-utm__input-box .new-url {
      padding: 1rem;
      width: 100%;
      border: 1px solid rgba(18, 224, 102, 0.5);
      border-radius: 5px;
      outline: none;
      font-size: 1.5rem;
      color: #333; }
      .form-utm__input-box .input:valid ~ .span,
      .form-utm__input-box .input:focus ~ .span,
      .form-utm__input-box .new-url:valid ~ .span,
      .form-utm__input-box .new-url:focus ~ .span {
        color: rgba(255, 255, 255, 0.8);
        transform: translateX(10px) translateY(-7px);
        font-size: 1rem;
        padding: 0 1rem;
        background-image: linear-gradient(to right, #55c57a, #28b485);
        border-radius: 3px; }
    .form-utm__input-box .span {
      position: absolute;
      left: 0;
      padding: 1rem;
      pointer-events: none;
      font-size: 1.4rem;
      color: rgba(51, 51, 51, 0.5);
      transition: .5s;
      letter-spacing: 0.2rem; }
    .form-utm__input-box .span-url {
      position: absolute;
      left: 1rem;
      top: -1rem;
      padding: 0 1rem;
      pointer-events: none;
      font-size: 1.4rem;
      color: rgba(255, 255, 255, 0.8);
      transition: .5s;
      letter-spacing: 0.2rem;
      background-image: linear-gradient(to right, #55c57a, #28b485);
      border-radius: 3px; }
    .form-utm__input-box .new-url {
      padding-top: 4rem; }
  .form-utm .textarea-container {
    position: relative; }
  .form-utm .copy-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
    cursor: pointer;
    background-image: linear-gradient(to right, #55c57a, #28b485);
    color: #fff;
    padding: 4px;
    border: none; }

.i-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1100px;
  gap: 20px;
  margin: 0 auto; }
  .i-container .i-card {
    position: relative;
    width: 320px;
    height: 320px; }
    .i-container .i-card .i-img-box,
    .i-container .i-card .i-content-box {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .i-container .i-card .i-content-box::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      transform: scaleX(0);
      transition: .5s;
      transform: transform .5s ease-in-out;
      transform-origin: right; }
    .i-container .i-card .i-img-box img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover; }
  .i-container .i-card:hover .i-content-box::before {
    transform: scaleX(1);
    transform: transform .5s ease-in-out;
    transform-origin: left; }

.section-about {
  padding: 10rem 0;
  background-color: #f7f7f7; }

.section-features {
  padding: 10rem 0;
  background: linear-gradient(to right, #12e066, #28b485); }

.section-tours {
  padding: 10rem 0;
  background-color: #f7f7f7; }

.section-tours-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../../img/vtx.png);
  width: 100%;
  height: 100vh;
  z-index: 0;
  overflow: hidden; }

.section-tours-1::after {
  content: "";
  position: absolute;
  top: -60%;
  /* expande o pseudo-elemento para além das bordas do elemento pai */
  left: -60%;
  right: -60%;
  bottom: -60%;
  background-image: url(../../img/vortex-1.png);
  background-size: contain;
  /* Garante que a imagem de fundo seja contida inteiramente no pseudo-elemento */
  background-repeat: no-repeat;
  /* Evita a repetição da imagem */
  background-position: center;
  /* Centraliza a imagem de fundo */
  z-index: -1;
  animation: rotateBackground 500s linear infinite; }

.section-tours-1::before {
  content: "";
  /* necessário para que o pseudo-elemento seja gerado */
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  /* Cor roxa com opacidade */ }
